.lead__caption {
    text-align: left;
    font-size: 10px;
    line-height: 14px;
    padding: 8px 0 0 0;
    letter-spacing: 1.5px;
    margin: 0;
}

@media screen and (max-width: 976px) {
    .lead__caption {
        padding: 8px 0 0 24px;
    }
}

@media screen and (max-width: 568px) {
    .lead__caption {
        padding: 8px 0 0 16px;
    }
}